<!DOCTYPE web-app
 PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
 <servlet>
  <servlet-name>TestEntityExtraction</servlet-name>
  <servlet-class>dotrural.ac.uk.servlets.TestEntityExtraction</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>AnnotateTweetService</servlet-name>
  <servlet-class>dotrural.ac.uk.servlets.AnnotateTweetService</servlet-class>
 </servlet>
  <servlet>
  <servlet-name>AnnotateDirectMessageService</servlet-name>
  <servlet-class>dotrural.ac.uk.servlets.AnnotateDirectMessageService</servlet-class>
 </servlet>
 <servlet-mapping>  
<servlet-name>TestEntityExtraction</servlet-name>  
<url-pattern>/test</url-pattern>  
</servlet-mapping>  
<servlet-mapping>
<servlet-name>AnnotateTweetService</servlet-name>  
<url-pattern>/annotate</url-pattern>  
</servlet-mapping>  
<servlet-mapping>
<servlet-name>AnnotateDirectMessageService</servlet-name>  
<url-pattern>/annotateDirectMessage</url-pattern>  
</servlet-mapping> 
</web-app>